@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .auth-card {
    @apply shadow-2xl rounded rounded-b-lg mx-auto bg-white w-full border-solid border-t-4 border-teal-500 p-0 mb-2;
  }
  .auth-close-btn {
    @apply text-gray-400 hover:text-white right-1 focus:outline-none  px-2 py-2 lg:top-8 lg:bg-white lg:rounded-full lg:right-10 lg:shadow lg:hover:bg-teal-600  duration-300 ease-in transition-colors;
  }
  .auth-label {
    @apply origin-top-left w-full inline-block text-gray-400 text-lg transition-all duration-200 ease-in z-10 min-w-max;
  }
  .auth-input {
    @apply text-lg text-gray-800 focus:border-teal-700 border-b border-opacity-50 appearance-none transition-colors duration-200 ease-in border-gray-400 absolute inline-block p-0 bg-transparent w-full focus:outline-none z-20  bottom-0 placeholder-gray-500 placeholder-opacity-0;
  }
  .authSubmitBtn {
    @apply inline-flex justify-center  duration-300 ease-in transition bg-teal-600 hover:bg-teal-700 text-2xl font-semibold text-white px-3 h-16 rounded-b-lg w-full focus:outline-none;
  }
  .auth-links {
    @apply transition-all border-0 border-teal-600 hover:border-b duration-200 text-sm ease-out text-teal-600;
  }
  .auth-layout {
    @apply bg-gray-100 font-Lato flex flex-col min-h-screen overflow-y-scroll w-screen;
  }
  .Btn {
    @apply inline-flex justify-center rounded-md border border-gray-200 shadow-sm px-4 py-2 bg-white text-sm font-bold text-gray-500 focus:outline-none active:border-transparent active:bg-gray-100;
  }
  .cardsWrapper {
    @apply w-full bg-gray-200 md:overflow-y-scroll transition-opacity duration-500 ease-in-out px-2 md:pr-0 h-full md:pl-4 flex flex-row flex-wrap;
  }
  .cardWrapper {
    @apply md:px-3 mt-3 md:mt-2 mx-auto md:mx-0 first:mt-24 md:first:mt-2 pb-3 last:pb-40 overflow-y-hidden h-auto transform ease-in-out  duration-500 hover:-translate-y-4;
  }
  .categoryBtnActive {
    @apply mr-1 bg-gray-200 cursor-pointer py-2 px-3 rounded-lg text-black focus:outline-none;
  }
  .categoryBtn {
    @apply mr-1 cursor-pointer py-2 px-3 rounded-lg text-gray-600 focus:outline-none hover:text-black;
  }
  .dropdownMenu {
    @apply z-20 text-gray-700 absolute mt-3 w-60 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5;
  }
  .footerCols {
    @apply md:w-1/4 pb-6 mb-6 sm:m-0 sm:p-0 border-gray-300 border-b sm:border-none;
  }
  .filter {
    @apply absolute bottom-0 py-0 overflow-y-hidden md:py-5 z-40 md:w-auto bg-teal-900  opacity-80 flex flex-col px-3 py-10 transform transition duration-500 ease-in-out;
  }
  .filterBtn {
    @apply inline-flex justify-center w-full ring-teal-400 ring-opacity-20 rounded-md border border-gray-200 shadow-sm px-4 py-2 bg-white text-sm font-bold text-gray-500 hover:border-transparent hover:ring-4  focus:outline-none focus:ring-4 focus:border-transparent active:shadow-none active:ring-0 active:border-gray-300;
  }
  .filterNSortWrapper {
    @apply w-full px-6 md:px-9 absolute md:static z-20 transition transform md:transform-none  duration-500 ease-in-out py-0 md:py-0 flex flex-col-reverse md:flex-col bg-white align-middle justify-between;
  }
  .gm-svpc {
    @apply left-10;
  }
  input:focus-within ~ label {
    @apply transform  scale-75 -translate-y-6;
  }
  input:focus-within ~ label,
  input:not(:placeholder-shown) ~ label {
    @apply transform scale-75 -translate-y-6;
  }
  .input-container {
    @apply mt-9 relative w-full font-normal;
  }
  .listings {
    @apply overflow-y-scroll overflow-x-hidden flex flex-col md:overflow-y-hidden h-screen col-span-9 lg:col-span-5;
  }
  .marker {
    @apply inline-block w-auto h-auto py-2 px-2 text-white font-semibold text-sm flex justify-center rounded-full items-center;
  }
  .mobileMenu {
    @apply transform md:transform-none transition z-30 duration-500 ease-in-out md:hidden fixed h-auto bg-white top-14 overflow-y-scroll w-full px-6  border-t border-opacity-50 border-gray-200;
  }
  .mobileNavs {
    @apply text-gray-500 block py-3 text-lg font-Lato font-bold;
  }
  .mobileUsaLink {
    @apply text-gray-500 block py-3 font-Lato text-base font-medium last:mb-10;
  }
  .mapSection {
    @apply hidden md:block h-full overflow-y-hidden overflow-hidden col-span-4;
  }
  .navLinks {
    @apply text-gray-600  hover:text-teal-600 px-3 py-2 text-base font-semibold font-Lato;
  }
  .primeBtn {
    @apply py-3 px-4 bg-teal-500 bg-center transition duration-700 text-white text-sm font-bold rounded-lg shadow-md hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-teal-400 focus:ring-opacity-75;
  }
  .prop-type {
    @apply py-2 px-3 rounded-lg text-gray-600 focus:outline-none;
  }
  .rc-slider {
    @apply top-5;
  }
  .social-auth-btn {
    @apply inline-flex border border-gray-300 justify-evenly py-1 rounded-lg w-full focus:outline-none;
  }
  .tMBtn {
    @apply z-50 text-gray-400 focus:outline-none w-10 h-10 relative;
  }
  .tMBtnIn1 {
    @apply z-50 block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out;
  }
  .tMBtnInWrapper {
    @apply block w-5 absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }
  .tMBWrapper {
    @apply absolute z-50 ml-3 bg-white inset-y-0 left-0 flex items-center lg:hidden;
  }
  .typeBtn {
    @apply bg-white mr-2 font-medium border-2 rounded border-transparent text-xs h-10 w-24 disabled:opacity-50;
  }
}

li > span #sort {
  display: none;
}

button > #sortOption {
  padding: 0;
}

button > #sortOption:hover {
  background: #fff;
}

.border-orange-600 {
  border-color: #dd6b20;
}

.map-h2 {
  text-transform: uppercase;
  font-size: 1rem;
  padding: 20px;
  padding-left: 10px;
  text-align: center;
}
.close-filter {
  backgroundcolor: #dd6b20;
}
.react-multiple-carousel__arrow {
  z-index: 30 !important;
}
.userList:nth-child(-n + 3) {
  font-weight: bolder;
}

.snap-x {
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.snap-start {
  scroll-snap-align: start;
}

button > .itemContent {
  display: none;
}

button,
textarea,
input,
select,
a,
#col2Filter,
#sortOption,
#dropDownList,
#dropDownBtn {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rc-slider-handle-dragging {
  border-color: #dd6b20 !important;
  box-shadow: 0 0 0 5px #dd6b20 !important;
}
.fb-icon {
  color: #3b5998;
}

@media screen and (max-height: 570px) {
  .mobileMenu {
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: 25px;
  }
}

@media screen and (min-width: 799px) {
  .google-map {
    height: 80vh;
  }

  .map-h2 {
    font-size: 1.3rem;
    font-weight: 400;
  }

  .pin {
    width: 15vw;
  }

  .pin-icon {
    font-size: 10vw;
  }
}

@media (min-width: 1280px) {
  .auth-card {
    max-width: 460px;
  }
}


@media screen and (min-width: 799px) {
  .google-map {
    height: 80vh;
  }

  .map-h2 {
    font-size: 1.3rem;
    font-weight: 400;
  }

  .pin {
    width: 15vw;
  }

  .pin-icon {
    font-size: 10vw;
  }
}